.section-header {
    display: flex;

    height: 60px;
    padding: 18px 30px;

    border-bottom: 2px solid #F2A21E;
    background: #FFF;

    margin: 0 auto;
}


.section-header h3 {
    color: #37228B;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
}