
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  margin-top: -55px;
}

.content {
  width: 100%;
  padding: 0 16px;
}

.titulo {
  text-align: center;
  margin-bottom: 32px;
  font-weight: 700;
  color: #37228B;
  font-family: 'Roboto', sans-serif;
  margin-top: 22px;
  font-size: clamp(20px, 3vw, 28px);
}

.barra {
  background-color: #CCD3F8;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 40px;
  margin-bottom: 32px;
  box-sizing: border-box;
}

.barra-texto {
  color: #0D0D0D;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

.coluna {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.barra-imagem {
  background-color: #CCD3F8;
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 10px 40px;
  margin-bottom: 32px;
  margin-top: 32px;
  box-sizing: border-box;
}

.box-imagem {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  margin-top: -32px;
  width: 410px;
  height: 150px;
}

.texto-imagem {
  position: absolute;
  color: #333;
  font-size: 2.4rem;
  margin-left: 250px !important;   
  margin-top: 20px !important;
  font-family: 'Roboto', sans-serif;
}

.img-preview {
  display: block;
  margin: 20px auto;
  width: 200px !important;
  height: 100px !important;
  object-fit: cover;
  border-radius: 8px;
  margin-left: -4px !important;
}

.botao-imagem {
  position: relative;
  bottom: 20px;
  right: 20px;
  top: -50px;
  left: 105px;
  color: #242424 !important;
  background-color: #ccd3f8 !important;
}
