
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
  margin-top: -55px;
}

.content {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.titulo {
  margin-bottom: 32px;
  font-weight: 700;
  color: #37228B;
  font-family: 'Roboto', sans-serif;
  margin-top: 22px;
  text-align: center;
  font-size: clamp(20px, 3vw, 28px);
}

.faixa-entrega {
  background-color: #CCD3F8;
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 10px 40px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.textoFaixa {
  color: #0D0D0D;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

.inputGrande {
  width: 950px;
  margin: 0 auto 16px auto;
}

.boxCaptcha {
  border: 1px solid #ccc;
  border-radius: 12px;
  min-width: 500px;
  min-height: 30px;
  background-color: #d3d3d3;
}

.container-retangulo {
  width: 450px;       
  height: 200px;      
  border: 2px solid #898989;
  padding: 20px;      
  border-radius: 8px;  
}

.container-retangulo-um {
  width: 860px;       
  height: 150px;      
  border: 2px solid #898989;
  padding: 20px;      
  border-radius: 8px;  
}