.book-card {
    width: clamp(140px, 18vw, 200px);
    height: auto;

    background: #ffffff;
    border-radius: 10px;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.53);

    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
    padding-bottom: 10px;
}

.book-image {
    width: 90%;
    aspect-ratio: 2 / 3; /* mantém proporção de livro */

    margin-top: 12px;

    border-radius: 10px;

    object-fit: cover;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.book-title {
    color: var(--text-primary, rgba(0, 0, 0, 0.87));
    text-align: center;
    font-family: Inter;

    font-size: clamp(12px, 1.5vw, 15px);
    font-weight: 500;
    line-height: 1.4;

    max-width: calc(100% - 20px);
    margin: 8px 10px 0 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-rating {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 4px;

    font-family: Roboto, sans-serif;
    font-size: clamp(11px, 1.3vw, 13px);

    color: rgba(0, 0, 0, 0.87);

    margin-top: 6px;
    align-self: flex-end;
    margin-right: 12px;
}

.star {
    color: #FFB400;
}

.book-card:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
}
@media (max-width: 480px) {
    .book-card {
        width: 45vw; /* 2 cards por linha */
    }
}

@media (max-width: 320px) {
    .book-card {
        width: 90vw; /* 1 card por linha */
    }
}