
.foto-barra {
  background-color: #CCD3F8;
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 10px 40px;
  margin-bottom: 32px;
}

.foto-texto {
  color: #0D0D0D;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 520px;
}

.foto-box {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  min-width: 400px;
  min-height: 100px;
  margin-top: -32px;
}

.foto-img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: -41px;
}

.botaoPerfilUm {
  color: #242424 !important;
  background-color: #ccd3f8 !important;
  margin-left: 55px !important;
  margin-top: -135px !important;
}


.botao-foto {
  background-color: #37228B !important;
  color: #ffffff !important;
  margin-left: 45px !important;
  margin-top: -115px !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 600 !important;
}