.header-container {
  width: 1000%;
  max-width: 1300px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 10px;
  border-color: #242424;
}

.header-logo {
  width: 200px;
  height: 40px;
  margin-left: 15px;
}

.header-text {
  color: #242424;
  margin-top: 8px;
}

.header-input-preto {
  width: 361px;
}

.header-input-preto .MuiOutlinedInput-root {
  border-radius: 10px;
  height: 27px;
}

.header-input-preto .MuiInputLabel-root {
  font-size: 12px;
  margin-top: -2px;
  color: #878787;
}

.header-search-icon-preto {
  width: 22px;
  height: 24px;
  margin-top: 4px;
}
.header-stack {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 15px;
}

.header-stack-row {
  display: flex;
  flex-direction: row;
  gap: 32px; 
}

.header-chip-criar {
  background-color: #312783 !important;
  color: #ffff !important;
  font-size: 0.8125rem;
}


.header-divider {
  border-color: #242424 !important;
  border-bottom-width: 1.5px !important;
  margin-top: 16px;
}