
.text{
  color: #0D0D0D;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}
.textoTituloPerfil {
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  margin-left: 120px;
  color: #0D0D0D;
}

.textoTituloRG {
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  margin-left: -8px;
  color: #0D0D0D;
}

.card {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
  margin-top: -32px;
  min-width: 400px;
  min-height: 100px;
}

.textoCard {
  color: #0D0D0D;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.texto-titulo-residencia {
  color: #0D0D0D;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}

.botao-selecionar {
  color: #242424 !important;
  background-color: #ccd3f8 !important;
  font-weight: bold !important;
}

.texto-informativo {
  font-size: 0.75rem;
  text-align: center;
}

.botaoPerfil {
  color: #242424 !important;
  background-color: #ccd3f8 !important;
  margin-left: 55px !important;
  margin-top: -115px !important;
}
